$primary-color: #333;
$hover-color: #61dafb;
$white-color: #fff;
$highlight-color: rgba(97, 218, 251, 0.2);


.header {
  background-color: $primary-color;
  padding: 30px;
  color: $white-color;
  text-align: center;
  border-radius: 15px;

  .nav {
    display: flex;
    justify-content: center;

    .ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .li {
        margin-right: 30px;

        .link {
          color: $white-color;
          text-decoration: none;
          transition: color 0.3s, text-shadow 0.3s;
          font-size: 1.2em;

          &:hover {
            color: $hover-color;
            text-shadow: 0 0 5px rgba(97, 218, 251, 0.7);
          }
        }
      }
    }
  }
}
