* {
  scrollbar-width: thin;
  scrollbar-color: #1f2937 #f3f4f6;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: #f3f4f6;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1f2937;
    border-radius: 10px;
    border: 1px solid #f3f4f6;
  }
}
